@model RentACar.Models.Appeal

@{
    ViewData["Title"] = "Отправить обращение";
}


<hr />
<div class="container">
    <h2 class="text-center">Отправка обращения</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8  col-12 jumbotron">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Ваше Имя</label>
                    <textarea asp-for="Name" rows="1"class="form-control" placeholder="Введите ваше имя"></textarea>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact" class="control-label">Ваш телефон или email</label>
                    <textarea asp-for="Contact" rows="1" class="form-control" placeholder="Введите ваш телефон или email"></textarea>
                    <span asp-validation-for="Contact" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Text" class="control-label">Текст сообщения</label>
                    <textarea asp-for="Text" rows="10" cols="100" class="form-control" placeholder="Введите ваше сообщение"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>


                </div>
                <div class="text-center">
                    <button type="submit" value="Create" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
