<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2>Услуги трансфера</h2>
        </div>
    </div>
</div>
<div class="container ">
    <h3>В Аэропорты Москвы</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="~/images/140X140.gif" data-holder-rendered="true">
            <h3>Домодедово</h3>
            <p>Быстрой и комфортный трансфер</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="~/images/140X140.gif" data-holder-rendered="true">
            <h3>Внуково</h3>
            <p>Быстрой и комфортный трансфер.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="~/images/140X140.gif" data-holder-rendered="true">
            <h3>Шереметьево</h3>
            <p>Быстрой и комфортный трансфер</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="~/images/140X140.gif" data-holder-rendered="true">
            <h3>Жуковский</h3>
            <p>Быстрой и комфортный трансфер</p>
        </div>
    </div>
        <h3>В Аэропорты Санкт петербурга</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="~/images/140X140.gif" data-holder-rendered="true">
                <h3>Пулково</h3>
                <p>Быстрой и комфортный трансфер</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="~/images/140X140.gif" data-holder-rendered="true">
                <h3>Аэропорт Хельсинки</h3>
                <p>Быстрой и комфортный трансфер</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-4 mb-2 text-center">
                <h2>Трансфер по России</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <blockquote class="blockquote">
                    <p class="mb-0">Отвезем из любой точки по России</p>
                    <small class="blockquote-footer">по предварительному заказу</small>
                </blockquote>
            </div>
            <div class="col-sm-6 col-lg-6">
                <blockquote class="blockquote">
                    <p class="mb-0">Привезем в любую точку в России</p>
                    <small class="blockquote-footer">по предварительному заказу</small>
                </blockquote>
            </div>
        </div>
    </div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="text-center col-md-8 col-12 mx-auto">
                <p class="lead">Нужен трансфер?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-auto mx-auto"> <a class="btn btn-block btn-lg btn-success" asp-controller="Appeals" asp-action="Create">Заказать!</a> </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-2 text-center">
            <h2>Наши Сервисы</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <h3>Аренда</h3>
            <p> Предоставляем услуги аренды авто </p>
            <p><a class="btn btn-link" asp-controller="Home" asp-action="AboutUS">View details »</a></p>
        </div>
        <div class="col-sm-6 col-lg-4">
            <h3>Лизинг</h3>
            <p> Предоставляем услуги лизинга авто </p>
            <p><a class="btn btn-link" asp-controller="Home" asp-action="AboutUS">View details »</a></p>
        </div>
        <div class="col-sm-6 col-lg-4">
            <h3>Трансфер</h3>
            <p> Предоставляем услуги трансфера</p>
            <p><a class="btn btn-link" asp-controller="Home" asp-action="AboutUS">View details »</a></p>
        </div>        
    </div>
</div>


