@model  IEnumerable<RentACar.Models.PictureModel> 
@{
ViewData["Title"]="Добавление файла" ;
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Pictures" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

<h3>Все файлы</h3>
@foreach (var f in Model)
{
    <div>
        <p><img src="@Url.Content(f.Path)"></p>

        <a asp-action="Details" asp-route-id="@f.Id">Детали</a> |
        <a asp-action="Delete" asp-route-id="@f.Id">Удалить</a>
    </div>
}
