@model RentACar.Models.Order

@{
    ViewData["Title"] = "CloseOrder";
}

<h1>Close</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CloseOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <input type="hidden" asp-for="CarID" />
            <input type="hidden" asp-for="DriverID" />
            <input type="hidden" asp-for="OrderDate" />
            <input type="hidden" asp-for="OdometerStart" />
            <input type="hidden" asp-for="FuelStart" />
            <div class="form-group">
                <label asp-for="CarID" class="control-label"></label>
                <select asp-for="CarID" class="form-control" asp-items="ViewBag.CarID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DriverID" class="control-label"></label>
                <select asp-for="DriverID" class="form-control" asp-items="ViewBag.DriverID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderReturnDate" class="control-label"></label>
                <input asp-for="OrderReturnDate" class="form-control" />
                <span asp-validation-for="OrderReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdometerFinish" class="control-label"></label>
                <input asp-for="OdometerFinish" class="form-control" />
                <span asp-validation-for="OdometerFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelFinish" class="control-label"></label>
                <input asp-for="FuelFinish" class="form-control" />
                <span asp-validation-for="FuelFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Закрыть Заказ" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-link" asp-action="Index">Отмена</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
