@model RentACar.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Создать новый заказ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarID" class="control-label"></label>
                <select asp-for="CarID" class ="form-control" asp-items="ViewBag.CarID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DriverID" class="control-label"></label>
                <select asp-for="DriverID" class ="form-control" asp-items="ViewBag.DriverID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdometerStart" class="control-label"></label>
                <input asp-for="OdometerStart" class="form-control"/>
                <span asp-validation-for="OdometerStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelStart" class="control-label"></label>
                <input asp-for="FuelStart" class="form-control" />
                <span asp-validation-for="FuelStart" class="text-danger"></span>
            </div>
            <hr />          
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-outline-info text-black-50" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
